@using recipe.ViewModels
@model AllDataForRecipeViewModel

<h2>@Model.Name</h2>
<div class="container">
    <div class="row">
        <div class="col-7">
            <img src="/images/@Model.Image" style="width:100%;height:400px">
        </div>
        <div class="col-5">
            @foreach (Ingredient item in Model.ingredients)
            {
                <p style="border-bottom:1px solid rgb(212, 212, 212)">@item.FoodIngredient</p>
            }
        </div>
    </div>
    <br />
    <br />
    @{int x = 1;}
    @foreach (Method item in Model.methods)
    {
        
        <div id="methods" class="row">
                 <div class="col-2">
                    
                    <p class="step" >Step @x</p>
                        
                </div>
                <div class="col-10">
                        <p class="p1">@item.Step</p>
                </div>
        </div>
           x++; 
    }

</div>

